<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhzhPkyKu_fRn7g3dlB9PZFXUzm9ORdHY</string>
	<key>GCM_SENDER_ID</key>
	<string>369726482784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grad</string>
	<key>PROJECT_ID</key>
	<string>grad-app-96513</string>
	<key>STORAGE_BUCKET</key>
	<string>grad-app-96513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369726482784:ios:5b757e93a41d35791a1605</string>
	<key>DATABASE_URL</key>
	<string>https://grad-app-96513-default-rtdb.firebaseio.com</string>
</dict>
</plist>